## Main
# main(void)
snippet main
int main(void) {
	${0}
	return 0;
}
endsnippet

# main
snippet mainn
int main(int argc, const char *argv[]) {
	${0}
	return 0;
}
endsnippet
##

snippet for "for loop (for)"
for (${2:type} ${3:i} = 0; $2 != ${1:count}; ${4:++$2}) {
	${VISUAL}${0}
}
endsnippet

snippet fori "for int loop (fori)"
for (int ${2:i} = 0; $2 != ${1:count}; ${3:++$2}) {
	${VISUAL}${0}
}
endsnippet

